body {
    background: #DDDCE1;
    margin: 0;
}

h1,h2,h3,h4,p {
    margin: 0;
}

a {
    color: unset;
    text-decoration: unset;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-top: 10px;
    padding-left: 50px;

    height: 50px;
    width: 400px;
}

.link-text {
    font-family: 'Playfair Display', serif;
}

.background-image-wrap {
    top: 0;
}

.background-image {
    position: absolute;
    /* width: 100%; */
    /* height: auto; */
    right: 0;
    top: 0;
    background: #DDDCE1;
    z-index: -10;

    padding-top: 100px;
}

.header {
    width: 100%;
    font-size: 24px;

    height: 100px;
    background-color: rgba(180, 176, 194, 0.64);
}

.header-logo {
    padding-top: 1rem;
    padding-left: 50px;

    width: 300px;
    height: auto;
}

.almost-footer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 75px;

    text-align: center;

    font-size: 1.25rem;
    font-family: 'Playfair Display', serif;
}

.also-almost-footer {
    position: absolute;
    width: 100%;
    height: 50px;

    text-align: right;

    font-size: 0.50rem;
    font-family: 'Playfair Display', serif;
}

.also-almost-footer > p {
    margin-right: 20px;
    color: #B4B0C2;
}

.almost-footer > p {
    margin-top: 0.15rem;
}

.footer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;

    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.social-media {
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.design-by-mobile {
    margin-top: 3px;
    display: none;
    font-size: 8px;
    color: #B4B0C2;
}

@media screen and (max-width: 420px) {

    .background-image {
        width: 1500px;
        height: auto;
    }

    .also-almost-footer {
        display: none;
    }

    .design-by-mobile {
        display: block;
    }

    .header {
        text-align: center;
    }

    .header-logo {
        padding-left: 0;
        padding-top: 1rem;
    }

    .links {
        align-content: center;
        flex-direction: column;
        width: auto;
    }

    .link-text {
        margin-top: 20px;
        text-align:  center;
    }

    .footer {
        height: 75px;
    }
}